.select__container {
  position: relative;
  width: fit-content;
  z-index: 10;
  outline: none;
}

.select__button {
  position: relative;
  width: 100%;
  min-width: 127px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
  background: var(--white-color);
  padding: 10px;
  outline: none;
  border: none;
  color: var(--blue-color);
  margin: 0px;
}

.chevron__icon{
  height: 20px;
}

span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select__options {
  position: absolute;
  margin-top: 4px;
  max-height: 240px;
  overflow: auto;
  border-radius: 5px;
  background-color: var(--white-color);
  width: 100%;
}

.select__options:focus {
  outline: none;
}

.select__option {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  color: var(--secondary-color);
}

.select__option.active {
  background-color: var(--blue-color);
  color: var(--white-color);
}

span.selected {
  font-weight: 400;
}
