:root {
  --main-color: #efefef;
  --primary-color: #1d2d3d;
  --secondary-color: #495e74;
  --gray-color: #778697;
  --dark-color: #292b2c;
  --blue-color: #0275d8;
  --green-color: #27ae60;
  --green-sea-color: #16a085;
  --pumpkin-color: #d35400;
  --red-color: #d9534f;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  overflow-x: hidden;
}

main {
  width: 100%;
  min-height: calc(100vh - 130px);
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* START ERRORS */
.error {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.error__status {
  font-size: 70px;
  font-weight: bold;
  color: var(--red-color);
}
.error__text {
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 30px;
  text-transform: capitalize;
}
.error__link {
  display: block;
  color: var(--white-color);
  background-color: var(--secondary-color);
  font-size: 21px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
}
.error__link:hover {
  background-color: var(--primary-color);
}
/* END ERRORS */

/* START MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal__container {
  width: 80%;
  max-width: 700px;
  background-color: var(--main-color);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal__closeIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--red-color);
  cursor: pointer;
  height: 30px;
}
.modal__title {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--green-sea-color);
  text-align: center;
}
/* END MODAL */
